@model OfficersViewModel
@{
    ViewData["Title"] = "Home Page";
}
<h2>Officers</h2>
<div>
    @foreach(OfficerViewModel officer in Model.Officers)
    {
        <div>@officer.FullName</div>
    }
</div>