@model NavyPqs.Ui.Models.SectionViewModel

<style>
    ul {
        list-style-type: disc;
        -webkit-columns: 5;
        -moz-columns: 5;
        list-style-position: inside;
        list-style-type: none;
    }
</style>
<div>
    <dl class="w3-container w3-clear w3-cell">
        <dd>
            @Html.DisplayFor(model => model.Number) -
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    @{
        <ul>
            @for (var j = 0; j < Model.Signed.Count(); j++)
            {
                <li>
                    @Html.CheckBoxFor(model => model.Signed[j])
                    @Html.DisplayFor(model => model.LineItem[j])
                </li>
            }
        </ul>
    }
</div>