@model NavyPqs.Ui.Models.PqsViewModel

<div>
    <h4>@Html.DisplayFor(model => model.Pqs) @Html.DisplayFor(model => model.Version)</h4>
    <hr />
    <p>@Html.DisplayFor(model => model.LongName) @Html.DisplayFor(model => model.Date)</p>
    
    <br />
    @foreach (var section in Model.Sections)
    {
        @await Html.PartialAsync("Partials/ViewSection", section)
    }
</div>