@model NavyPqs.Ui.Models.SailorViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Rank) @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h1>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> | <a asp-action="Index">Back to List</a>
</div>

<br />

<div>
    @await Html.PartialAsync("Partials/ViewPqs", Model.Pqses[0])
</div>